.about-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  .vacant-sapce {
    width: 10%;
  }
  .vacant-sapce:last-child {
    position: relative;
    width: 15%;

    img {
      width: 70%;
      height: 22rem;
      position: absolute;
      left: 30%;
      bottom: 0;
    }
  }

  .about-image-container {
    position: relative;
    width: 45%;
    height: 100%;
    transform: rotate(-3deg) translateX(-52px);

    img {
      width: 100%;
      height: 100%;
    }
  }

  .about-detail-container {
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      margin-bottom: 1rem;
    }

    h4 {
      color: #fa5652;
      font-size: 2rem;
    }

    h5 {
      color: #035755;
      font-size: 1.9rem;
      text-transform: capitalize;
    }

    p {
      color: #4b4f51;
      font-size: 1rem;
      text-transform: capitalize;
    }

    button {
      width: 138px;
      background: rgba(250, 86, 82, 0.15);
      height: 44px;
      border-radius: 46px;
      box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
      border: none;
      text-transform: capitalize;
      color: #fa5652;
      font-size: 1.01rem;
    }
  }
}

@media (max-width: 55rem) {
  .about-container {
    .vacant-sapce:first-child {
      width: 0%;
    }

    .vacant-sapce:last-child {
      position: relative;
      width: 10%;

      img {
        width: 90%;
        height: 15rem;
        left: 10%;
      }
    }

    .about-image-container {
      width: 80%;
      margin: auto;
      transform: translateX(0);
    }

    .about-detail-container {
      width: 80%;
      margin: auto;
      align-items: center;

      div {
        margin-bottom: 0.8rem;
      }

      h4 {
        font-size: 1.6rem;
        text-align: center;
        transform: translateX(10%);
      }

      h5 {
        font-size: 1.5rem;
        text-align: center;
        transform: translateX(6%);
      }

      p {
        text-align: center;
        transform: translateX(6%);
      }

      button {
        transform: translateX(6%);
      }
    }
  }
}
