.navbar-container {
  position: relative;
  width: 90%;
  margin: auto;
  margin-bottom: 0.4rem;
  height: 50px;
  top: 0.8rem;
  display: flex;
  justify-content: space-between;

  .navbar-logo {
    position: relative;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: inline-block;
      width: 100%;
      height: 3rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    a:last-child {
      height: 1.3rem;
      position: absolute;
      right: 0;
      display: none;
    }
  }

  .navbar-lnks {
    position: relative;
    width: 65%;
    .navbar-item {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .navbar-item-list {
        list-style: none;
        margin: 0 2.2rem;

        a {
          text-decoration: none;
          color: #024d4b;
          font-size: 1.1rem;
        }
      }

      .navbar-item-list:last-child {
        border: 2px solid #fb4c47;
        border-radius: 46px;

        a {
          color: #fb4c47;
          display: inline-block;
          padding: 0.5rem 1.9rem;
        }
      }

      .navbar-item-list:hover {
        a {
          color: #fb4c47;
        }
      }
    }
  }
}
