.footer-container {
  position: relative;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.3rem;

  .footer-data {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .logo {
      position: relative;
      width: 20%;

      a {
        display: inline-block;
        text-decoration: none;
        img {
          width: 6rem;
          height: 3.3rem;
        }
      }
    }

    .footer-links {
      position: relative;
      width: 40%;

      ul {
        position: relative;
        width: 100%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        li {
          list-style: none;

          a {
            text-decoration: none;
            font-size: 1.05rem;
            font-weight: 500;
            color: #13615f;
          }

          a:hover {
            color: #fa5652;
          }
        }
      }
    }

    .social-icon {
      position: relative;
      width: 20%;

      ul {
        position: relative;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        li {
          list-style: none;

          a {
            text-decoration: none;
            img {
              height: 1rem;
              width: 2rem;
            }
          }
        }
      }
    }
  }

  .footer-cpoyright {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2.2rem;

    p {
      font-size: 1.05rem;
      font-weight: 400;
      color: #13615f;
    }
  }
}

@media (max-width: 55rem) {
  .footer-container {
    margin-top: 1rem;

    .footer-data {
      width: 100%;

      .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 0.4rem;
      }

      .footer-links {
        width: 100%;
        margin-bottom: 1.2rem;

        ul {
          li {
            a {
              font-size: 0.9rem;
            }
          }
        }
      }

      .social-icon {
        width: 100%;
      }
    }

    .footer-cpoyright {
      width: 100%;

      p {
        text-align: center;
      }
    }
  }
}
